{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Dashboard</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'main/css/dashboard.css' %}">
        <style>
            body{
                padding: 60px;
            }
        </style>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg fixed-top bg-white shadow-sm">
            <div class="container-fluid">
                <a class="navbar-brand" href='{% url "home" %}'>Portify</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="navbar-nav justify-content-start flex-grow-1 mt-1">
                            <li class="nav-item">
                                <a class="nav-link" href="#">Explore</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#about-us">Pricing</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href='{% url "home" %}'>About Us</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#contact-us">Contact Us</a>
                            </li>
                        </ul>
                        <div class="d-flex">
                            <a class="btn me-2" href='{% url "logout" %}'>Logout <i class="bi bi-box-arrow-in-right"></i></a>
                            {% if portfolio %}
                                <img class="profile-img rounded-circle" src="{{portfolio.profile_pic}}">
                            {% else %}
                                <img class="profile-img rounded-circle" src='{% static "main/images/boy_profile.jpg" %}' >
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        
        <!-- Profile Section -->
        <div class='container my-3'>
            <div class='bg-light p-4 shadow-sm'>
                <div class='d-flex justify-content-between align-items-center'>
                    <h4 class='heading pb-3'>Templates Created</h4>
                    <a href='{% url "portfolio_form" %}' class="btn">Create More</a>
                </div>
                <div class='row'>
                    {% if templates %}
                    {% for template in templates %}
                    <div class='col-12 mb-4'>
                        <div class="card h-100" style="width: 100%">
                            <div class="row g-0">
                                <div class="col-md-4">
                                    <img class='card-img-left img-fluid' src="{{ template.screenshot }}" alt="Template Screenshot" style="object-fit: cover; height: 100%;">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body d-flex flex-column justify-content-center">
                                        <p class="card-text">
                                            <strong>Template URL:</strong>
                                            <a href="{% url 'user_website' template.uid %}">http://{{ request.get_host }}{% url 'user_website' template.uid %} <i class="bi bi-box-arrow-up-right p-2 text-primary"></i></a>
                                            <i class="bi bi-copy ms-2" style="cursor:pointer;" onclick="copyToClipboard('{{ template.uid }}')"></i>
                                            <span class="copy invisible" id="{{template.uid}}" style="border:2px solid black;border-radius:5px;padding:5px;">copied</span>
                                        </p>
                                        <p class="card-text"><strong>Created on:</strong> {{ template.created_at|date:"j M Y g:i a" }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% else %}
                    <div class="text-center">
                        <img src='{% static "main/images/no_template.png" %}' class="img-fluid" alt="No Templates">
                        <div class="btn mt-3"><a href='{% url "portfolio_form" %}' class="text-white">Create Now</a></div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>        

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        <script>
            function copyToClipboard(uid) {
                var text = "https://portify-in.onrender.com/" + uid + "/";
                navigator.clipboard.writeText(text).then(function() {
                    var copy = document.getElementById(uid);
                    copy.classList.remove('invisible');
                    copy.classList.add('visible');
                    setTimeout(() => {
                        copy.classList.add('invisible');
                    }, 1000);
                }, function(err) {
                    console.error('Could not copy text: ', err);
                });
            }
        </script>
    </body>
</html>
